body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #2e2e2e; /* Grey background */
  color: white;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.right-content {
  width: 70%;
  padding: 2rem;
  overflow-y: auto;
}
